.row-fix{
    overflow-y: scroll;
    max-height: 100vh;
}

.direction-service-container{
    text-align: center;
}

@media (max-width: 800px) 
{
    .routes-description{
        height: 390px;
    }

}